KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/drv/tty.o \
$(ARCHDIR)/sys/gui/gui.o \
$(ARCHDIR)/drv/vbe.o \
$(ARCHDIR)/sys/gui/geometry.o \
$(ARCHDIR)/sys/gui/psf.o \
$(ARCHDIR)/sys/gui/shell.o \
$(ARCHDIR)/drv/keyboard.o \
$(ARCHDIR)/drv/memdisk.o \
$(ARCHDIR)/drv/speaker.o \
$(ARCHDIR)/drv/ata_pio.o \
$(ARCHDIR)/sys/ports.o \
$(ARCHDIR)/sys/cpuid.o \
$(ARCHDIR)/sys/gdt_flush.o \
$(ARCHDIR)/sys/interrupts.o \
$(ARCHDIR)/sys/gdt.o \
$(ARCHDIR)/sys/idt.o \
$(ARCHDIR)/sys/isr.o \
$(ARCHDIR)/sys/pic.o \
$(ARCHDIR)/sys/pit.o \
$(ARCHDIR)/sys/kheap.o \
$(ARCHDIR)/sys/paging.o \
$(ARCHDIR)/sys/console.o \
$(ARCHDIR)/mini_programs/mm_test.o \
$(ARCHDIR)/mini_programs/calc.o \
$(ARCHDIR)/mini_programs/vbe_test.o \
$(ARCHDIR)/mini_programs/disks.o \
$(ARCHDIR)/mini_programs/dhv.o \
$(ARCHDIR)/sys/fs/vfs.o \
$(ARCHDIR)/panic.o \
$(ARCHDIR)/hal.o 
